#gallery {
  margin: 2em 9em;
  max-width: 100%;
  
}

 img {
  max-width: 20%;
  height: 20%;
  display: block;
  cursor: pointer;
  margin: 8px;
  float: left;
  -webkit-filter: grayscale(0);
}
 .alternar{
  -webkit-filter: grayscale(1);
  transition: 1s;
} 

.alternar2{
  -webkit-filter: grayscale(0);
  transition: 1s;
} 
h1{
	text-align: center;
}


